<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    <style>
        body {
            background-color:#eee3f8;
            font-style: poppins;
        }
    </style>
</head>
<body>
    <br>
    <h3 >Email             : balaswitha.reddy@gmail.com</h3 >
    <h3>Linkedin Profile  : <a href="https://www.linkedin.com/in/pusapati-balaswitha-814651258/">Balaswitha Pusapati</a></h3>
    <h3>Github Profile    : <a href="https://github.com/balaswithapusapati">Balaswitha Pusapati</a></h3>
</body>
</html>