<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Details</title>
    <style>
        body {
            background-color:#eee3f8;
            font-style: poppins;
        }
    </style>
</head>
<body>
    <h3>School              :  Himalaya High school </h3>
    <h3>10th CGPA           :  10 </h3>
    <br>
    <h3>Intermediate        :  Narayana Junior College </h3>
    <h3>Intermediate Grade  :  978/1000</h3>
    <br>
    <h3>University          :  SRM AP</h3>
    <h3>Current CGPA        :  8.88</h3>
</body>
</html>