<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <style>
        body {
            background-color:#eee3f8;
            font-style: poppins;
        }
    </style>
</head>
<body>
    <h3>Name            :  Balaswitha Pusapati</h3>
    <h3>Date of Birth   :  03-12-2005</h3>
    <h3>Gender          :  Female</h3>
    <h3>Nationality     :  Indian</h3>
    <h3>Marital status  :  Unmarried</h3>
    <h3>Address         :  Balaji Nagar , Nellore .</h3>
</body>
</html>